html {
  background: $bg-color;
  min-height: 100%;
}

.avatar {
  display: inline-block;
  @include border-radius(50%);
}

.empty {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #666;
  padding: 3em 0;
  border-top: thin dashed #ddd;
  border-bottom: thin dashed #ddd;
}

.primary-button {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary;
  }
}

.icon-savedsearch {
  @extend .icon-search3;
}

.devise-extras, .main-footer {
  text-align: center;
  margin-top: $line-height;

  a {
    display: inline-block;
    margin: .25em;
    color: $black;

    &:hover, &:visited, &:active {
      color: $black;
    }

    &.button {
      &:hover, &:visited, &:active {
        color: $white;
      }
    }
  }
}

a.button, a.button:visited {
  color: white;
}

main header {
  @extend %clearfix;

  %heading {
    float: left;
  }

  .actions {
    float: right;
  }

  @media screen and (max-width: $breakpoint-small) {
    text-align: center;
    font-size: 80%;
    margin: 0 0 1em;

    %heading, .actions {
      float: none;
      display: block;
      margin: 0;
    }
  }
}

main dl {
  dt, dd {
    margin: 0 0 .25em;
    padding: 0;
  }
}

#comments {
  margin: $line-height auto;
}

@media screen and (max-width: $breakpoint-small) {
  .big-button {
    font-size: 1.25em;
  }

  .related-items li {
    font-size: 100%;
  }
}

.admin {
  .admin-header {
    background: #444;
    overflow: hidden;
    z-index: 2001;

    &:hover {
      height: auto;
    }

    a, .label {
      border-color: #333;
    }
  }

  > .global-header {
    top: $fixed-top-header-height;
  }

  > main {
    margin-top: 4em;
  }
}

.full-width.main-footer {
  background: rgba(black, 0.35);

  .container {
    background: transparent;
  }
}

.hidden {
  position: absolute;
  top: -100%;
  left: -100%;
  opacity: 0;
  pointer-events: none;
}

.extra-padding {
  padding: 1em !important;
}

.timeline {
  margin-bottom: 1em;

  img {
    max-width: 70%;
    text-align: center;
    margin: 1em auto;
    pointer-events: none;

    @media screen and (max-width: $breakpoint-small) {
      display: none;
    }
  }
}

.grid-of-three {
  margin-left: -0.5em;
  margin-right: -0.85em;

  a {
    padding: 1em !important;
    height: 100%;
    display: block;
  }

  .one-of-three-wrapper {
    width: 33%;
    padding: 0.5em;
    box-sizing: border-box;
    float: left;

    @media screen and (max-width: $breakpoint-small) {
      width: 100%;
      float: none;
    }
    .one-of-three {}

    .card {
      padding: 0 !important;
      border-radius: 4px;
      border: 1px solid #ebebeb;
      background: white;

      &:hover {
        background: #FEFEFE;
        border-color: $color-primary-light;
      }
    }
  }
}

.clearfix {
  float: none;
  clear: both;
}